<div class="jumbotron">
    <h1>'Hello sails angular App!</h1>
    <p class="lead">
        <img src="images/smile_128x128.png" alt="I'm Yeoman"><br>
        A pleasure scaffolding your electron-sails-angular app.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>

    <div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

    <h4>Angular</h4>
    <p>AngularJS is a toolset for building the framework most suited to your application development.</p>

    <h4>Sails JS</h4>
    <p>The web framework of your dreams.</p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
    <ul>
        <li ng-repeat="key in awesomeThings">{{key}}</li>
    </ul>
</div>
<script>

</script>
