#login-view {
    background: url("../assets/images/smile_128x128.png") -70px 40px no-repeat;
    .form-signin {
        max-width: 300px;
        margin: 20% auto 0 auto;
        display:block;
    }
}