body #shell,
section#shell {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    position:absolute;
}
.preloader {
    background: url("../assets/images/preloader.gif") 0 0 no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: -4px 0px 0 -30px;
    position: absolute;
}

/*#region Splash */
#splash-page {
    z-index: 99998;
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background:#fff;
}
#shell #splash-page {
    background:#fff;
    //z-index: 99995!important;   
}
.ngplus-overlay-background {
    top: 0px;
    left: 0px;
    padding-left: 100px;
    position: absolute;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background-color: #808080;
    opacity: 0.2;
}
.ngplus-overlay-content {
    position: absolute;
    /*border: 1px solid #000;*/
    /*background-color: #fff;*/
    font-weight: bold;
    height: 100px;
    width: 300px;
    height: 15em;
    width: 20em;
    z-index: 10000;
    text-align: center;
}
.page-spinner-message {
    text-align: center;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    color: #F58A00;
    padding: 0;
}
.page-spinner-message.page-spinner-message-subtle {
    margin: 30% auto 0 auto;
    font-size: 200%;
}
.overlay-message {
    font-size: 200%;
}
.spinner {
    margin: 20% auto 0 auto;
    left: auto;
    top: auto !important;
}
/*#region wrapper for angular ng-include and ng-view animations*/
.view-container {
    position: relative;
    overflow: hidden;
}
/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}
.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}
    .shuffle-animation.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }
.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}
    .shuffle-animation.ng-leave.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
/*#region Angular ng-include, ng-view, ng-repeat fader animation */
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
    position: relative;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    opacity: 1;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
    opacity: 0;
}
    .fader-animation.ng-enter.ng-enter-active {
        opacity: 1;
    }
.fader-animation.ng-move {
  opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity:1;
}
/*#region Angular ng-show dissolve animation */
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    position: fixed !important;
    display: inline !important;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}
    .dissolve-animation.ng-hide-remove.ng-hide-remove-active,
    .dissolve-animation.ng-hide-add {
        opacity: 1;
    }
        .dissolve-animation.ng-hide-add.ng-hide-add-active,
        .dissolve-animation.ng-hide-remove {
            opacity: 0;
        }
/*#region toastr */
#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
    margin: 4px auto;
}
