<section id="shell">
    <header-nav></header-nav>
    <side-bar></side-bar>
    <main-view></main-view>
    <footer-nav></footer-nav>

    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div id="loading">
            <div id="loadingServer">
                <h1><span class="preloader" title="loading Rest Api">&nbsp;</span> Initializing UI</h1>
            </div>
        </div>
    </div>
    
    <div ngplus-overlay
         ngplus-overlay-delay-in="50"
         ngplus-overlay-delay-out="700"
         ngplus-overlay-animation="dissolve-animation">
        <img src="assets/images/busy.gif"/>

        <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    </div>
</section>
