// this path will be set dynamically
$icon-font-path: "../../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// loading.html
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    padding-top: 75px;
    //background-color: #e0e0e0!important;
    //color:#101!important;
}
body div#loading {
    -webkit-app-region: inherit;
    padding: 0;
    margin: 0;
}
body div#loading > div > h1 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 30% 0 0 0;
}
body div#loading > div > h1 img{
    margin-top: -6px
}
#nodejsInstall {
    display:none;
}

// layout
.jumbotron {
    text-align: center;
    border-bottom: none;

    .lead > span.smileImg {
        width: 128px;
        height: 128px;
        background: url("../assets/images/smile_128x128.png");
        display: inline-block
    }
}
