// this path will be set dynamically
$icon-font-path: "../../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// loading.html
html,
body#loading {
    -webkit-app-region: drag;
    padding: 0;
    margin: 0;
    height: 100%;
}
body#loading > div > h1 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 30% 0 0 0;
}
body#loading > div > h1 img{
    margin-top: -6px
}
#nodejsInstall {
    display:none;
}

// layout
.header {
    border-bottom: 1px solid #4e5d6c;
    margin-bottom: 10px;
}
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #4e5d6c;
}
.jumbotron {
    text-align: center;
    border-bottom: none;

    .lead > span.smileImg {
        width: 128px;
        height: 128px;
        background: url("../assets/images/smile_128x128.png");
        display: inline-block
    }
}
