<section id="register-view" class="main-content">
    <form class="form-register">
        <h2 class="form-signin-heading">Register</h2>
        <label for="inputFullName" class="sr-only">Fullname</label>
        <input type="text" id="inputFullName" class="form-control" placeholder="Fullname" required="" autofocus="">
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputConfirmEmail" class="sr-only">COnfirm email address</label>
        <input type="email" id="inputConfirmEmail" class="form-control" placeholder="Confirm email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> accept
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">register</button>
        <p>have an account? <a class="btn btn-link btn-block" href="#/login">Log-in</a></p>
    </form>
</section>