#register-view {
    
    background: url("../assets/images/smile_128x128.png") -70px 70px no-repeat;
    
    .form-register {
        max-width: 300px;
        margin: 14% auto 0 auto;
        display:block;
    }
}