/**
 * Header nav Widget directive styles
 */

@import "../../assets/css/_variables";

header > .navbar.navbar-fixed-top {
    top: 24px;
    border-bottom: 1px solid $color-divider;
    background: $white-bg;
    -moz-transition: ease-out all 0.3s 0.4s;
          -o-transition: ease-out all 0.3s 0.4s;
        -webkit-transition: ease-out all 0.3s 0.4s;
                transition: ease-out all 0.3s 0.4s;
}
header.header {
    .box-back-forward {
        padding: 8px 0 0 10px;

        button,
        button:active,
        button:focus {
            border:none;
            outline: none;
            outline-offset: 0
        }
        button:active,
        button:focus,
        button:hover {
            background:none;
        }

        button:active {
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.095);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.095);
        }
    }
    #js-navbar-collapse {
        padding-right: 36px;
    }
}

.hide-navs header > .navbar.navbar-fixed-top {
    top: -51px;
    -moz-transition: ease-out all 0.3s 0.4s;
          -o-transition: ease-out all 0.3s 0.4s;
        -webkit-transition: ease-out all 0.3s 0.4s;
                transition: ease-out all 0.3s 0.4s;
}