/**
 * Header nav Widget directive styles
 */

@import "../../assets/css/_variables";

header > .navbar.navbar-fixed-top {
    top: 24px;
    border-bottom: 1px solid $color-divider;
    background: $white-bg;
    -moz-transition: ease-out all 0.3s 0.4s;
          -o-transition: ease-out all 0.3s 0.4s;
        -webkit-transition: ease-out all 0.3s 0.4s;
                transition: ease-out all 0.3s 0.4s;
}
header.header {
}

.hide-navs header > .navbar.navbar-fixed-top {
    top: -51px;
    -moz-transition: ease-out all 0.3s 0.4s;
          -o-transition: ease-out all 0.3s 0.4s;
        -webkit-transition: ease-out all 0.3s 0.4s;
                transition: ease-out all 0.3s 0.4s;
}