/*
 * Footer
 */
@import "../../assets/css/_variables";
.footer {
    border-top: 1px solid $color-divider;
    background-color: $white-bg;    
    padding-top: 8px;
    color: #777;
    z-index:99998;
    border-radius: 0 0px 8px 8px;
}
.footer .left-section {
    padding-left:20px;
}
.footer .right-section {
    
    padding-right:20px;

    a {
        padding-left: 8px;
    }
    
    .ico-success {
        color:#5cb85c;
    }
    .ico-success:hover {
        color:#449d44;
    }

    .btn-notif,
    .btn-notif:active,
    .btn-notif:focus {
        outline: none;
        outline-offset: 0;
        background:#fff;
        border-color: #fff;
        color: #777;
        cursor: pointer;
    }
    .btn-notif.activated {
        color: #337ab7!important;
    }
}

