<div class="footer navbar-fixed-bottom">
    <div class="left-section pull-left">
        <p><span class="glyphicon glyphicon-heart"></span> footer</p>
    </div>
    <div class="right-section pull-right" role="group" aria-label="...">
        <i class="fa fa-wifi ico-succes"></i>  &nbsp;
        <button type="button" class="btn btn-default btn-xs btn-options btn-notif {{footer.notificationsClass}}" ng-click="footer.toggleNotifications()">
            <i class="fa fa-cogs"></i>
        </button>
    </div>
</div>
