<section id="home-view" class="mainbar">
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
    <p>test test home</p>
</section>